<header class="header">
  <a href="/">
    <img src="/img/logo.svg" class="logo" />
  </a>
  <% if(user) { %>
  <nav>
    <ul class="main-nav">
      <li><a href="/food" class="box-button">My Food</a></li>
      <li><a href="/recipes/myrecipes" class="box-button box-button-filled">My recipes</a></li>
      <li><a href="/recipes/all" class="box-button">Recipes</a></li>
      <li><a href="/auth/signout" class="box-button">Signout</a></li>
    </ul>
  </nav>
  <% } %>
</header>
