<header class="header">
  <a href="/">
    <img src="/img/logo.svg" class="logo" />
  </a>
  <% if(user) { %>
  <nav>
    <ul class="main-nav">
      <li><a href="/" class="box-button">Recipes</a></li>
      <li><a href="/" class="box-button">Food</a></li>
      <li><a href="/" class="box-button box-button-filled">Add new</a></li>
      <li><a href="/auth/signout" class="box-button">Signout</a></li>
    </ul>
  </nav>
  <% } %>
</header>
