<header class="header">
    <a href="/">
        <img src="/img/logo.svg" class="logo" />
      </a>
    <nav>
        <ul class="main-nav">
            <li><a href="/" class="main-nav-link">Menu 1</a></li>
            <li><a href="/" class="main-nav-link">Menu 2</a></li>
            <li><a href="/" class="main-nav-link">Menu 3</a></li>
        </ul>
    </nav>
</header>