<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes - Cookbook</title>

    <!-- Adding style to the page -->
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('../views/partials/header') %>
    <main>
      <section class="main-section">
        <center><a href="/recipes/myrecipes/add" class="box-button box-button-filled">Add new recipe</a></center>
        <h1 class="main-section-title">My Recipes</h1>
      </section>
    </main>
  </body>
</html>
