<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Foods - Cookbook</title>

    <!-- Adding style to the page -->
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('../views/partials/header') %>
    <main>
      <section class="main-section">
        <section class="general-input-container">
          <form action="/food/newfood" method="POST" class="general-input-form">
              <h1 class="title">Add new food</h1>
              <h2 class="subtitle">Please fill in information</h2>
              <label for="name">Food Name</label>
              <input type="text" id="name" name="name" class="input-field" required>

              <label for="image">Food Image</label>
              <input type="text" id="email" name="image" class="input-field" placeholder="https://" required>

              <div>
                <button class="signin-signup-button">Submit</button>
                <button type="reset" class="signin-signup-button">Clear</button>
              </div>
          </form>
      </section>
      </section>
      
    </main>
  </body>
</html>
